//google fonts

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

//polices
$police1 :'Montserrat', sans-serif;
$police2 :'Michroma', sans-serif;


//couleurs
$txt-color: #FFFFFF;
$turquoise: #5BE2EA;
$mustard: #F7D458;
$saumon:#F78858;
$bgc: #000000;
